*{ 
    font-family: 'Archivo', sans-serif;
    font-family: 'Manrope', sans-serif;
}

:root {
    --purple: #9356DC;
    --pink: #FF79DA;
    --green: #99E2D0;
    --light_grey : rgba(246, 246, 246, 1);

}

h1 {
/*En-tête des pages (nom du restaurant)*/
    font-family: Shrikhand;
    font-size: 30px;
    font-style: italic;
    line-height: 44px;
}

h2 {
/*Titre des section*/
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
}

h3 {
/*Titre des cards*/
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}

h4 {
/*Textes des boutons*/
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}

h5 {
/*Sous-titre des cards*/
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
}

p {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    line-height: 21px;
}

body{
    max-width: 375px;
    height: 2252px;
    background-color: var(--light_grey);
    margin: 0px;
}

.main-container {
    display: grid;
    grid-template-columns: 375px;
    align-items: center;
}

/*************HEADER*************/

.header_logo {
    width: 375px;
    height: 63px;
    background-color: white;
    display: flex;
    align-items: center;

        .header_logo--bold{
            font-weight: bold;   
        }

        .header_logo--center{
            margin: auto;        
        }
}

.header_searchbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    gap: 17px;
    padding-left:100px;
    background-color: rgba(234, 234, 234, 1);

        .header_searchbar--background {
            border: none;
            background-color: rgba(234, 234, 234, 1);
        }

        .header_searchbar--text{
            font-family: Roboto;
            font-size: 16px;
            font-weight: 500;
            line-height: 19px;  
            color: black; 
        }

}

/*************EXPLORER*************/
.explorer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;

        .explorer_h2 {
            width: 275px;
            height: 68px;
            text-align: center;
            margin: auto;
        }

        .explorer_p{
            width: 315px;
            height: 46px;
            margin: auto;
            text-align: center;
        }

        .explorer_bouton {
            width: 218px;
            height: 50px;
            margin: auto;
            margin-top: 30px;

            
            .explorer_bouton--style{
                display: inline-block;
                width: 218px;
                height: 50px;
                border-radius: 25px;
                border: none;
                background: linear-gradient(0deg, rgba(147,86,220,1) 29%, rgba(255,121,218,1) 100%); 
                box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
            }

            .explorer_bouton--text{
               font-family: Roboto;
               font-size: 16px;
               font-weight: 500;
               line-height: 19px;
               color: white;
               text-decoration: none;
               display: flex;
               justify-content: center;
               align-items: center;
            }
        }
    }

    /*************FONCTIONNEMENT*************/

    .fonctionmt {
        display: flex;
        flex-direction: column;
        height: 400px;
        padding-top: 48px;
        background-color: white;
        gap: 20px;
        padding-left: 20px;

        .fonctionmt_text{
            width: 275px;
            height: 31px;
            margin: 0px;
        }

        .bouton_pastille{
            position: absolute;
            left: 15px;
            width: 24px;
            height: 24px;
            background-color: var(--purple);
            border-radius: 100%;
        }

        .bouton_pastille--position1{
            top: 510px;
        }

        .bouton_pastille--position2{
            top : 602px;
        }

        .bouton_pastille--position3{
            top : 695px;
        }

        .bouton_pastille--number{
            color: white;
            width: 15px;
            margin:auto;
            margin-top: 2px;
            text-align: center;
        }

        .fonctionmt_bouton {
            display: flex;
            flex-direction: row;
            width: 322px;
            height: 72px;
            border-radius:20px;
            background-color: var(--light_grey);
        }

        .fa-solid{
            display: flex;
            align-items: center;
            margin-left: 30px;
        }

        .bouton_text--style{
            width: 211px;
            height: 15px;
            margin: auto;
        }

        .fa-store {
            color: var(--purple);
        }
    }

/*************RESTAURANTS*************/

        .restaurants{
            display: flex;
            flex-direction: column;
            height: 1176px;
            padding-left: 20px;
            padding-top: 50px;
            gap: 18px;

            .restaurants_title {
                margin: 0px;
            }

            .restaurants_card{
                width: 340px;
                height: 251px;
                border-radius: 15px;
                background-color: rgba(255, 255, 255, 1);
                box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
            }

            .restaurants_card img{
                width: 340px;
                height: 180px;
                border-radius: 15px 15px 0px 0px;
                object-fit: cover;
            }

            .restaurants_card a {
                text-decoration: none;
                color: black;
            }

            .card_content {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                height: 60px;
                width: 300px;
                padding-left: 20px;
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .card_title {
                margin: 0px;
            }

            .card_subtitle {
                margin: 0px;
            }

            .card_heart {
                width: 26px;
                height: 22px;
                margin: 1px;

                &--size{
                    width: 26px;
                    height: 22px;
                    margin-left: 10px;
                }
            }
        }

        .card_pastille {
            position: absolute;
            left: 268px;
            width: 80px;
            height: 29px;
            background-color: var(--green);
            margin-top: 10px;
            border-radius: 2px;

            &--text {
                color: rgba(0, 135, 102, 1);
                width: 61px;
                margin:auto;
                margin-top: 5px;
                text-align: center;
            }
        }

/*************FOOTER*************/

    .footer{
        display: flex;
        flex-direction: column;
        height: 186px ;
        padding: 22px 25px 22px 25px;
        gap: 16px;
        background-color: black;

        .footer_logo--color {
            color: white;
            margin: 0px;
        }

        .footer_link {
            display: flex;
            flex-direction: row;
            width: 190px;
            height: 19px;
            padding-bottom: 6px;

            &--color {
                color: white;
            }
        }
        .footer_link h4{
            margin: 0px;
        }
    }   
    
    .footer ul{
        padding-left: 0px;
        margin-top: 20px;
    }

    .footer li{
        list-style: none;
        padding-left: 0px;
        padding-bottom: 6px;
    }

    .footer a {
        text-decoration: none;
        color: white;
    }

    .footer_h4--margin{
        margin: 0px;
    }

    

/*************PAGES DES RESTAURANTS*************/

.commander_bouton {
    width: 186px;
    height: 50px;
    margin: auto;
    margin-top: 30px;

    
    .commander_bouton--style{
        display: inline-block;
        width: 186px;
        height: 50px;
        border-radius: 25px;
        border: none;
        background: linear-gradient(0deg, rgba(147,86,220,1) 29%, rgba(255,121,218,1) 100%); 
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    }

    .commander_bouton--text{
       font-family: Roboto;
       font-size: 16px;
       font-weight: 500;
       line-height: 19px;
       color: white;
       text-decoration: none;
       display: flex;
       justify-content: center;
       align-items: center;
    }
}

    

