@charset "UTF-8";
* {
  font-family: "Archivo", sans-serif;
  font-family: "Manrope", sans-serif;
}

:root {
  --purple: #9356DC;
  --pink: #FF79DA;
  --green: #99E2D0;
  --light_grey: rgba(246, 246, 246, 1);
}

h1 {
  /*En-tête des pages (nom du restaurant)*/
  font-family: Shrikhand;
  font-size: 30px;
  font-style: italic;
  line-height: 44px;
}

h2 {
  /*Titre des section*/
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

h3 {
  /*Titre des cards*/
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}

h4 {
  /*Textes des boutons*/
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}

h5 {
  /*Sous-titre des cards*/
  font-family: Roboto;
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
}

p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
}

body {
  max-width: 375px;
  height: 2252px;
  background-color: var(--light_grey);
  margin: 0px;
}

.main-container {
  display: grid;
  grid-template-columns: 375px;
  align-items: center;
}

/*************HEADER*************/
.header_logo {
  width: 375px;
  height: 63px;
  background-color: white;
  display: flex;
  align-items: center;
}
.header_logo .header_logo--bold {
  font-weight: bold;
}
.header_logo .header_logo--center {
  margin: auto;
}

.header_searchbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50px;
  gap: 17px;
  padding-left: 100px;
  background-color: rgb(234, 234, 234);
}
.header_searchbar .header_searchbar--background {
  border: none;
  background-color: rgb(234, 234, 234);
}
.header_searchbar .header_searchbar--text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: black;
}

/*************EXPLORER*************/
.explorer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.explorer .explorer_h2 {
  width: 275px;
  height: 68px;
  text-align: center;
  margin: auto;
}
.explorer .explorer_p {
  width: 315px;
  height: 46px;
  margin: auto;
  text-align: center;
}
.explorer .explorer_bouton {
  width: 218px;
  height: 50px;
  margin: auto;
  margin-top: 30px;
}
.explorer .explorer_bouton .explorer_bouton--style {
  display: inline-block;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(0deg, rgb(147, 86, 220) 29%, rgb(255, 121, 218) 100%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.explorer .explorer_bouton .explorer_bouton--text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*************FONCTIONNEMENT*************/
.fonctionmt {
  display: flex;
  flex-direction: column;
  height: 400px;
  padding-top: 48px;
  background-color: white;
  gap: 20px;
  padding-left: 20px;
}
.fonctionmt .fonctionmt_text {
  width: 275px;
  height: 31px;
  margin: 0px;
}
.fonctionmt .bouton_pastille {
  position: absolute;
  left: 15px;
  width: 24px;
  height: 24px;
  background-color: var(--purple);
  border-radius: 100%;
}
.fonctionmt .bouton_pastille--position1 {
  top: 510px;
}
.fonctionmt .bouton_pastille--position2 {
  top: 602px;
}
.fonctionmt .bouton_pastille--position3 {
  top: 695px;
}
.fonctionmt .bouton_pastille--number {
  color: white;
  width: 15px;
  margin: auto;
  margin-top: 2px;
  text-align: center;
}
.fonctionmt .fonctionmt_bouton {
  display: flex;
  flex-direction: row;
  width: 322px;
  height: 72px;
  border-radius: 20px;
  background-color: var(--light_grey);
}
.fonctionmt .fa-solid {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.fonctionmt .bouton_text--style {
  width: 211px;
  height: 15px;
  margin: auto;
}
.fonctionmt .fa-store {
  color: var(--purple);
}

/*************RESTAURANTS*************/
.restaurants {
  display: flex;
  flex-direction: column;
  height: 1176px;
  padding-left: 20px;
  padding-top: 50px;
  gap: 18px;
}
.restaurants .restaurants_title {
  margin: 0px;
}
.restaurants .restaurants_card {
  width: 340px;
  height: 251px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
.restaurants .restaurants_card img {
  width: 340px;
  height: 180px;
  border-radius: 15px 15px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants .restaurants_card a {
  text-decoration: none;
  color: black;
}
.restaurants .card_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
  width: 300px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.restaurants .card_title {
  margin: 0px;
}
.restaurants .card_subtitle {
  margin: 0px;
}
.restaurants .card_heart {
  width: 26px;
  height: 22px;
  margin: 1px;
}
.restaurants .card_heart--size {
  width: 26px;
  height: 22px;
  margin-left: 10px;
}

/*************FOOTER*************/
.footer {
  display: flex;
  flex-direction: column;
  height: 186px;
  padding: 22px 25px 22px 25px;
  gap: 16px;
  background-color: black;
}/*# sourceMappingURL=style.css.map */