*{ 
    font-family: 'Archivo', sans-serif;
    font-family: 'Manrope', sans-serif;
}

:root {
    --purple: #9356DC;
    --pink: #FF79DA;
    --green: #99E2D0;
    --light_grey : rgba(246, 246, 246, 1);
    --gradient: linear-gradient(0deg, rgba(147,86,220,1) 29%, rgba(255,121,218,1) 100%)
}

h1 {
/*En-tête des pages (nom du restaurant)*/
    font-family: Shrikhand;
    font-size: 30px;
    font-style: italic;
    line-height: 44px;
    margin: 0px;
}

h2 {
/*Titre des section*/
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin: 0px;
}

h3 {
/*Titre des cards*/
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    margin: 0px;
}

h4 {
/*Textes des boutons*/
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    margin: 0px;
}

h5 {
/*Sous-titre des cards*/
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    margin: 0px;
}

p {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    line-height: 21px;
}

body{
    max-width: 375px;
    background-color: white;
    margin: auto;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

main{
    margin: auto;
}


/*************HEADER*************/

.header_logo {
    width: 375px;
    height: 63px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header_searchbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    gap: 17px;
    padding-left:100px;
    background-color: rgba(234, 234, 234, 1);

        &--background {
            border: none;
            background-color: rgba(234, 234, 234, 1);
        }

        &--text{
            font-family: Roboto;
            font-size: 16px;
            font-weight: 500;
            line-height: 19px;  
            color: black; 
        }

}

/*************EXPLORER*************/
.explorer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 375px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: var(--light_grey);

        &_h2 {
            width: 275px;
            height: 68px;
            text-align: center;
            margin: auto;
        }

        &_p{
            width: 315px;
            height: 46px;
            margin: auto;
            text-align: center;
        }
    }

    .button {
        margin: auto;
        margin-top: 30px;
        display: flex;
        align-items: center; 
        justify-content: center ;

        .button_explorer--taille {
            width: 218px;
            height: 50px;
        }


        .button_text{
            font-family: Roboto;
            font-size: 16px;
            font-weight: 500;
            line-height: 19px;
            color: white;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        
        .button_style {
            border-radius: 25px;
            border: none;
            background: linear-gradient(0deg, rgba(147,86,220,1) 29%, rgba(255,121,218,1) 100%); 
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, .25);
            position: relative;
            z-index: 1;
            cursor: pointer;

                &:hover {
                     border-radius: 25px;

                         &::after {
                            border-radius: 25px;
                            opacity: 1;
                        }
                }

                &::after {
                    border-radius: 25px;
                      content: "";
                      position: absolute;
                      top: 0;
                      right: 0;
                      bottom: 0;
                      left: 0;
                      background: linear-gradient(0deg, lighten(#9356DC, 5) 0%, lighten(#FF79DA, 10) 100%);
                      box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, .25);
                      opacity: 0;
                      z-index: -1;
                      transition: opacity 250ms;
        }
    }
}


    /*************FONCTIONNEMENT*************/

    .fonctionmt {
        display: flex;
        flex-direction: column;
        height: 400px;
        padding-top: 48px;
        background-color: white;
        gap: 20px;
        padding-left: 20px;

        &_text{
            width: 275px;
            height: 31px;
        }

        .bouton_pastille{
            position: absolute;
            left: 15px;
            width: 24px;
            height: 24px;
            background-color: var(--purple);
            border-radius: 100%;
        }

        .bouton_pastille--position1{
            top: 510px;
        }

        .bouton_pastille--position2{
            top : 602px;
        }

        .bouton_pastille--position3{
            top : 695px;
        }

        .bouton_pastille--number{
            color: white;
            width: 15px;
            margin:auto;
            margin-top: 2px;
            text-align: center;
        }

        .fonctionmt_bouton {
            display: flex;
            flex-direction: row;
            width: 322px;
            height: 72px;
            border-radius:20px;
            background-color: var(--light_grey);
        }

        .fa-solid{
            display: flex;
            align-items: center;
            margin-left: 30px;
        }

        .bouton_text--style{
            width: 211px;
            height: 15px;
            margin: auto;
        }

        .fa-store {
            color: var(--purple);
        }
    }

/*************RESTAURANTS*************/

.restaurants{
    display: flex;
    flex-direction: column;
    height: 1176px;
    padding-left: 20px;
    padding-top: 50px;
    gap: 18px;

        .restaurants_card{
            width: 340px;
            height: 251px;
            border-radius: 15px;
            background-color: rgba(255, 255, 255, 1);
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
        }

        .restaurants_card img{
            width: 340px;
            height: 180px;
            border-radius: 15px 15px 0px 0px;
            object-fit: cover;
        }

        .restaurants_card a {
            text-decoration: none;
            color: black;
        }

        .card_content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 60px;
            width: 300px;
            padding-left: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .card_heart {
            width: 26px;
            height: 22px;
            margin: 1px;

                &--size{
                    width: 26px;
                    height: 22px;
                    margin-left: 10px;
                }
        }
}

.card_pastille {
    position: absolute;
    left: 268px;
    width: 80px;
    height: 29px;
    background-color: var(--green);
    margin-top: 10px;
    border-radius: 2px;

        &--text {
            color: rgba(0, 135, 102, 1);
            width: 61px;
            margin:auto;
            margin-top: 5px;
            text-align: center;
        }
}

/*************FOOTER*************/

.footer{
    display: flex;
    flex-direction: column;
    height: 186px ;
    width: 325px;
    padding: 22px 25px 22px 25px;
    gap: 16px;
    background-color: black;

    .footer_logo {
        justify-content: left;
        width: 137px;
        height: 27px;

        }

    .footer_fa {
        width: 24px;
        height: 13px;
    }

    .footer_link {
        display: flex;
        flex-direction: row;
        width: 190px;
        height: 19px;
        padding-bottom: 6px;

            &--color {
                color: white;
            }
    }     
    
    .footer ul{
        padding-left: 0px;
        margin-top: 10px;
    }

    .footer li{
        list-style: none;
        padding-left: 0px;
        padding-bottom: 6px;
    }

    .footer a {
        text-decoration: none;
        color: white;
    }
}

/*************PAGES DES RESTAURANTS*************/

.page_restaurant{
    display: flex;
    flex-direction: column;
}

.bloc_id{
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 275px;
    
    &_txt{
        background-color: var(--light_grey);
        top: 215px;
        position: relative;
        border-radius: 40px 40px 0px 0px;
        z-index: 1;
    }

    &_titre{
        padding-left: 20px;
        padding-top: 30px;
    }

    &_heart--position{
        left: 312px;
        top: 50px;
        position: absolute;
    }

    .bloc_id_image{
        position: absolute;
        top: 65px;
    }

    .bloc_id_image img{
        width: 375px;
        height: 275px;
    }

}

.menu {
    width: 375px;
    height: auto;
    background-color: var(--light_grey);
    padding-bottom: 50px;
}

.menu_step {
    width: 349px;
    margin: auto;
    display: grid;
    row-gap: 12px;
    margin-top: 30px;

    .step_titre {
        margin-bottom: 5px;
    }
    
    .step_trait_horizontal{
        padding: 0px;
        margin-bottom: 12px;
        border: none;
        width: 40px;
        height: 2px;
        background-color:var(--green)
    }
    
    .card_plat{
        display: grid;
        grid-template-columns:300px 49px;
        width: 349px;
        height: 69px;
        border-radius: 15px;
        background-color: white;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);

        .card_plat_text{
            display: grid;
            row-gap: 5px;
            padding: 15px 0px 15px 15px;
        }

        .card_plat_prix--position {
            position: relative;
                text-align: center;
                top: 40px
        }
        
    }
}

.button_commander--taille{
            width: 186px;
            height: 50px;
    }
        